@import '../../reusables.scss';

.cta-container {
  padding-bottom: 5rem;
  .cta-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: $header-color;
    height: 400px;
    width: 80rem;
    margin: 0 auto 10rem auto;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    hr {
      width: 50px;
      border: 1px solid $headlines;
      color: $headlines;
    }
    .cta-heading {
      font-size: 2.5rem;
    }

    .cta-text {
      width: 750px;
      text-align: center;
      font-size: 1.2rem;
    }

    .ring {
      position: absolute;
      bottom: -80px;
      right: -60px;
      width: 180px;
      height: 180px;
      border: 30px solid $headlines;
      border-radius: 50%;
    }
    .circle {
      position: absolute;
      top: -70px;
      left: -70px;
      background-color: $headlines;
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
  }
}

//  Media Queries  //

//Tablet 768px

@media (max-width: 768px) {
  .cta-container {
    .cta-inner-container {
      width: 80%;
      .cta-heading {
        font-size: 2rem;
        font-weight: 500;
      }

      .cta-text {
        font-size: 1rem;
        width: 80%;
      }
    }
  }
}

@media (min-width: 319px) and (max-width: 426px) {
  .cta-container {
    .cta-inner-container {
      .cta-heading {
        font-size: 1.2rem;
      }

      .circle {
        height: 150px;
        width: 150px;
      }

      .ring {
        border: 20px solid $headlines;
        bottom: -60px;
        height: 120px;
        width: 120px;
      }
    }
  }
}
